#main-text {
    height: 65vh;
    font-size: 30px;
}

#colored-text {
    height: 75vh;
    overflow-y: scroll;
    overflow-x: hidden;
    font-size: 70px;
    border: 1px solid rgba(0, 0, 0, .2);
    padding: 0 10px 10px 10px;
    line-height: 1.75;
}

#colored-text:focus {
    outline: 0;
}

#colored-text div, p, font {
    word-break: break-all;
    font-size: 70px;
}