#main-text {
    height: 65vh;
    font-size: 30px;
}

#colored-text {
    height: 70vh;
    overflow-y: auto;
    overflow-x: hidden;
}

#colored-text span {
    display: inline-block;
    word-break: break-all;
    font-size: 70px;
}